html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #5da2d5;
    background-image: url("img/linesBackground.png");
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 15px;
}

#language {
    position: absolute;
    width: 50px;
    right: 0;
}

.infoBox {
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    z-index: 99;
    border-radius: 2px;
    box-shadow: 2px 2px 7px rgba(186, 185, 185, 0.514);
    display: none;
}

.infoBox p {
    padding: 20px;
    text-align: center;
    line-height: 18px;
}

#wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    height: auto;
    width: 98%;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 40px;
}

#text {
    padding: 20px;
}

article {
    position: relative;
    border-radius: 2px;
    width: 43%;
    flex-flow: wrap;
    height: auto;
    margin: 10px 10px 30px 10px;
    padding: 10px;
    background-color: #ECECEC;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    padding: 7px;
    text-transform: uppercase;
    font-size: 20px;
}

.text {
    position: relative;
    text-align: justify;
    margin-bottom: 100px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 21px;
}

.image {
    position: relative;
}

#hogwartsImages, #websiteImages, #dungeonsImages, #csharpImages {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

header {
    position: relative;
    height: 100%;
    color: #FFFFFF;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
    margin: auto;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
    opacity: 0;
}

#logo {
    height: 60%;
    width: 100%;
    object-fit: contain;
    opacity: 0;
}

#headerArrow {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    opacity: 0;
}

.githubLink {
    position: absolute;
    text-align: center;
    min-width: 250px;
    margin: 20px 0px 5px 0px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    height: auto;
    border: 3px solid black;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 10px 13px;
}

.githubLink img {
    padding-left: 10px;
}

.imageArrowRight {
    position: absolute;
    z-index: 100;
    width: 40px;
    height: 40px;
    right: 0;
    bottom: 45%;
    cursor: pointer;
    transform: rotate(-90deg);
}

.imageArrowLeft {
    position: absolute;
    z-index: 100;
    width: 40px;
    height: 40px;
    left: 0;
    bottom: 45%;
    cursor: pointer;
    transform: rotate(90deg);
}

#middle {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

#about {
    height: 100%;
    width: 100%;
    background-color: #ECECEC;
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#profileArrow {
    position: absolute;
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin: auto;
    left: 50%;
    transform: translate(-50%);
    top: 188%;
}

#pictureArea {
 margin: auto;
}

#profilePic {
    width: 400px;
    object-fit: cover;
    border-radius: 2px;
}

#profileText {
    margin: auto;
    width: 30%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h3 {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    text-align: center;
}

h4 {
    margin: 0;
    margin-bottom: 17px;
}

#progressBarArea {
    margin: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

h5 {
    font-size: 18px;
    margin: 10px;
    text-align: center;
}

.skills {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.textBar {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 3px;
    font-size: 13px;
}

.barBackground {
    background-color: #ffffff;
    width: 90%;
    min-width: 100px;
    margin: auto;
    border-radius: 2px;
}

#bar1, #bar2, #bar3, #bar4, #bar5, #bar6, #bar7, #bar8 {
    color: white;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    width: 60%;
    height: 13px;
    margin-bottom: 10px;
    border-radius: 2px;
    background-color: #5da2d5;
}

footer {
    position: relative;
    width: 100%;
    background-color: #ECECEC;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

.footerContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: auto;
}

.footerLink {
    position: relative;
    text-align: center;
    min-width: 120px;
    height: auto;
    border: 3px solid black;
    background-color: transparent;
    outline: none;
    margin: 5px;
    cursor: pointer;
    padding: 10px 16px;
}

#mailLink {
    width: 97%;
}

button {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    background-image: url("img/buttonB.png");
    background-position-x: -540px;
    background-repeat: no-repeat;
    border-radius: 2px;
}

footer img {
    padding-left: 10px;
}

.iconL {
    position: absolute;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    top: -25px;
    left: -20px;
    z-index: 15;
}

span {
    position: relative;
    display: inline-block;
    padding: 7px;
    margin: 11px 4px 11px 10px;
    min-width: 40px;
    text-align: center;
    color: white;
    border-radius: 2px;
}

.java, .mysql {
    background-color: #e96823;
    box-shadow: 2px 2px 1px  #8a2b0e;
    border-radius: 2px;
}

.html, .css, .js {
    background-color: #3781da;
    box-shadow: 3px 3px 1px  #104b93;
}

.csharp, .net {
    background-color: #af33e4;
    box-shadow: 3px 3px 1px  #611183;
}

/* IPAD MODE */
@media screen and (max-width: 950px) {

  #about {
    background-color: #ECECEC;
    flex-flow: wrap;
    padding-top: 20px;
  }

  #profilePic {
    width: 300px;
  }

  #profileText {
      width: 50%;
  }

  #progressBarArea {
    flex-direction: row;
    width: 90%;
    flex: 1 1 100%;
  }

  .skills {
      width: 40%;
  }
}

/* PHONE MODE */
@media screen and (max-width: 730px) {

    #about {
        flex-direction: column;
        flex-flow: wrap;
        height: auto;
        float: left;
    }

    #profileArrow {
        display: none;
    }

    h4 {
        text-align: center;
    }

    #profilePic {
        width: 300px;
        max-width: 100%;
    }

    #profileText {
        margin-top: 20px;
        width: 90%;
    }

    #progressBarArea {
        width: 90%;
    }
    .skills {
        width: 45%;
    }

    article {
        width: 90%;
    }
    
    footer {
        flex-direction: column;
    }

    #language {
        width: 35px;
    }
}